html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
	color: #37474F;
	background-color: #E8E8E8;
	min-width: 430px;
}

.pageHeader {
	box-sizing: border-box;
    background: #303030;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
	z-index: 2;
}

.pageHeaderContent {
	position: relative;
	left: 0;
	width: 400px;
	margin: 0 auto;
}

.pageLogo {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	position: absolute;
}

.pageName {
	font-family: 'Allura', cursive;
	color: #FFFFFF;
	font-size: 2.5rem;
	position: absolute;
	top: 5px;
	border-radius: 15px;
	margin: 0 0 0 70px;
	padding: 0;
}

.pageNav h2 {
	display: none;
}

.pageNav .menuList {
    list-style: none;
    margin: 0;
    padding: 50px 0 3px 0;

    display: none;

    width: 100%;
    text-align: center;
}

.pageNav .menuList li {
    border-bottom: 1px solid #37474F;

    padding-top: 10px;
    padding-bottom: 10px;
}

.pageNav .menuList li:last-child {
    border: 0;
}

.pageNav .menuList li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
}

.pageNav .hamburger {
    border: 0;
    background: 0;
    width: 35px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 0;
}

.pageNav .hamburger .hamburgerIcon {
    width: 28px;
}

.pageNav .hamburger .closeIcon {
    display: none;
    width: 28px;
}

.pageHeader.navOpened {
    background: #303030;
    box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);	
}

.pageHeader.navOpened .pageNav .hamburger .hamburgerIcon {
    display: none;
}

.pageHeader.navOpened .pageNav .hamburger .closeIcon {
    display: inline-block;
}

.pageHeader.navOpened .menuList {
    display: block;
	animation-name: menuAnimation;
	animation-duration: 2s;
    animation-delay: 0s;
}

@keyframes menuAnimation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.article .articleHeader {
    background: url(../img/bgd_header.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
	padding: 0;
    padding-top: 100px;
    box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
    color: #37474F;
    text-align: center;
    min-height: 300px;
	width: 100%;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
}

.article .articleContent {
    box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
    padding-top: /*30px*/0px;
    padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    min-height: 400px;
	width: 100%;
}

.article .articleContent .articleTitle {
	margin: 0 auto 0 auto;
	border-radius: 0 0 5px 5px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 3rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	padding: 0;
}

.articleContent .tiles {
    height: 200px;
    width: 300px;
    position: relative;
    margin: 40px auto 30px auto;
	padding: 0;
    display: block;
}

.articleContent .tiles img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.articleContent .tiles .tileCaption {
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    width: 40%;
    border-radius: 0 5px 0 5px;
}

.articleContent .coffeeContent {
	margin: 5px auto;
	padding: 0;
	width: 350px;
}

.articleContent .coffeeContent .coffeeStyle {
	margin: 0;
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #555555;
}

.articleContent .coffeeContent #lastCoffeeStyle {
	border: none;
}

.articleContent .coffeeContent .coffeeStyle .coffeeName {
	text-align: center;
	font-size: 2.25rem;
	font-weight: bold;
}

.articleContent .coffeeContent .coffeeStyle .coffeePic {
	margin: 0;
	padding: 0;
}

.articleContent .coffeeContent .coffeeStyle .coffeePic img {
	margin: 0;
	padding: 0;
	width: 350px;
	height: 230px;
	border-radius: 15px;
}

.articleContent .coffeeContent .coffeeStyle .coffeePrice {
	padding: 10px 0;
	text-align: left;
	font-size: 1.7rem;
	font-weight: bold;
}

.articleContent .coffeeContent .coffeeStyle .coffeeDescription {
	margin: 0 auto;
	text-align: justify;
	font-size: 1.65rem;
}

.articleContent .cakeContent {
	margin: 5px auto;
	padding: 0;
	width: 350px;
}

.articleContent .cakeContent .cakeStyle {
	margin: 0;
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #555555;
}

.articleContent .cakeContent #lastCakeStyle {
	border: none;
}

.articleContent .cakeContent .cakeStyle .cakeName {
	text-align: center;
	font-size: 2.25rem;
	font-weight: bold;
}

.articleContent .cakeContent .cakeStyle .cakePic {
	margin: 0;
	padding: 0;
}

.articleContent .cakeContent .cakeStyle .cakePic img {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 375px;
	border-radius: 15px;
}

.articleContent .cakeContent .cakeStyle .cakePrice {
	padding: 10px 0;
	text-align: left;
	font-size: 1.7rem;
	font-weight: bold;
}

.articleContent .cakeContent .cakeStyle .cakeDescription {
	margin: 0 auto;
	text-align: justify;
	font-size: 1.65rem;
}

.articleContent .photoGallery {
	position: relative;
	margin: 0 auto;
	padding: 5px;
	width: 380px;
}

.articleContent .photoGallery  .view {
	margin: 10px auto;
	padding: 0;
	width: 380px;
	height: 90px;
}

.articleContent .photoGallery  .view .viewPic {
	margin: 5px auto;
	padding: 0;
	width: 120px;
	height: 80px;
}

.articleContent .photoGallery  .view #view1 {
	animation-name: view1Animation;
	animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes view1Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  .view #viewTemp1 {
	animation-name: viewTemp1Animation;
	animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes viewTemp1Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  .view #view2 {
	animation-name: view2Animation;
	animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes view2Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  .view #viewTemp2 {
	animation-name: viewTemp2Animation;
	animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes viewTemp2Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  .view #view3 {
	animation-name: view3Animation;
	animation-duration: 2.5s;
    animation-delay: 0s;
}

@keyframes view3Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  .view #viewTemp3 {
	animation-name: viewTemp3Animation;
	animation-duration: 2.5s;
    animation-delay: 0s;
}

@keyframes viewTemp3Animation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery .view .viewButton {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	border: 0;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	top: 50px;
}

.articleContent .photoGallery .view #viewNext {
	right: 15px;
}

.articleContent .photoGallery .view #viewPrev {
	left: 15px;
}

.articleContent .photoGallery  #preview {
	margin: 10px auto;
	padding: 0;
	width: 380px;
	height: 250px;
	
	animation-name: previewAnimation;
	animation-duration: 1s;
    animation-delay: 0s;
}

@keyframes previewAnimation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery  #previewTemp {
	margin: 10px auto;
	padding: 0;
	width: 380px;
	height: 250px;
	
	animation-name: previewTempAnimation;
	animation-duration: 1s;
    animation-delay: 0s;
}

@keyframes previewTempAnimation {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.articleContent .photoGallery .previewButton {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	border: 0;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	top: 240px;
}

.articleContent .photoGallery #previewNext {
	right: 15px;
}

.articleContent .photoGallery #previewPrev {
	left: 15px;
}

.articleContent .contactContent .address {
	color: #303030;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin: 50px auto 30px auto;
	padding: 0;
	width: 300px;
	height: 80px;
}

.articleContent .contactContent .address p {
	margin: 10px auto;
	padding: 0;
}

.articleContent .contactContent .map {
	padding: 1px;
	margin: 30px auto 40px auto;
	background: #E8E8E8;
	width: 351px;
	height: 300px;
	border: 4px solid #555555;
	border-radius: 5px;
}

.pageFooter {
    background-color: #303030;
    color: #FFFFFF;
    font-size: 13px;
    margin: 0;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 20px;
}

@media (min-width: 40em) {
	
	.pageHeaderContent {
		width: 1020px;
		margin: 0 auto;
	}

    .pageLogo {
        left: 0;
    }

    .pageNav .hamburger {
        display: none;
    }

    .pageNav {
        /*position: absolute;*/
    }

    .pageNav .menuList {
        display: block;
        text-align: right;
        margin: 0;
        padding: 0;
		position: absolute;
		top: 0;
		right: 0;
    }

    .pageNav .menuList li {
        display: inline-block;
        border: 0;
        margin-right: 15px;
    }

    .pageNav .menuList li:last-child {
        margin-right: 5px;
    }

    .pageNav .menuList li a {
        color: #FFFFFF;
    }

    .pageMain {
        width: 1020px;
        margin: 0 auto 0 auto;
        padding: 0;
    }

    .article .articleHeader {
        margin: 60px auto 0 auto;
		min-width: 1020px;
		width: 100%;
		height: 450px;
		position: absolute;
		left: 0;
    }

    .article .articleContent {
        background-color: #E8E8E8;
        box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
		margin-left: auto;
		margin-right: auto;
        padding-top: 610px;
        padding-bottom: 5px;
        text-align: center;
		min-width: 1020px;
    }

	.article .articleContent .articleTitle {
		width: 1020px;
    }
	
    .articleContent .tiles {
        width: 45%;
        margin: 15px auto 15px auto;
		padding: 10px;
        display: inline-block;
    }
	
	.articleContent .tiles .tileCaption {
		left: 0;
	}
	
	.articleContent .coffeeContent {
		width: 700px;
		padding: 10px;
	}
	
	.articleContent .coffeeContent .coffeeStyle {
		position: relative;
		height: 350px;
	}
	
	.articleContent .coffeeContent .coffeeStyle .coffeePic {
		position: absolute;
		left: 0;
	}
	
	.articleContent .coffeeContent .coffeeStyle .coffeeDescription {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 80px;
		right: 0;
		width: 320px;
	}
	
	.articleContent .cakeContent {
		width: 700px;
		padding: 10px;
	}
	
	.articleContent .cakeContent .cakeStyle {
		position: relative;
		height: 500px;
	}
	
	.articleContent .cakeContent .cakeStyle .cakePic {
		position: absolute;
		left: 0;
	}
	
	.articleContent .cakeContent .cakeStyle .cakeDescription {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 80px;
		right: 0;
		width: 320px;
	}
	
	.articleContent .contactContent .address {
		margin: 110px 130px 10px 10px;
		float: right;
	}
	
	.articleContent .contactContent .map {
		margin: 30px 10px 10px 130px;
		float: left;
	}
	
    .pageFooter {
        min-width: 1020px;
    }

}